<div class="py-8 text-center  font-sans">
  <h2 class="text-3xl font-bold">My Skill</h2>
    <div class="w-24 h-1 bg-purple-500 mx-auto my-2 rounded-full"></div>
    <p class="text-gray-600 max-w-xl mx-auto">
      You can see my skills below.
    </p>

  <div class="space-y-6 mx-auto">
    
    <!-- Skill Item -->
    <div class="flex items-center space-x-4">
      <img src="/Figma.jpg" class="w-10 h-10 rounded" />
      <div class="w-full">
        <div class="flex justify-between mb-1">
          <span class="font-medium text-gray-700">Figma</span>
          <span class="text-sm text-gray-700">80%</span>
        </div>
        <div class="w-full bg-gray-200 h-2 rounded-full">
          <div class="h-2 w-[80%] bg-purple-500 rounded-full"></div>
        </div>
      </div>
    </div>

    <div class="flex items-center space-x-4">
      <img src="/Xd.png" class="w-10 h-10 rounded" />
      <div class="w-full">
        <div class="flex justify-between mb-1">
          <span class="font-medium text-gray-700">Adobe XD</span>
          <span class="text-sm text-gray-700">70%</span>
        </div>
        <div class="w-full bg-gray-200 h-2 rounded-full">
          <div class="h-2 w-[70%] bg-purple-500 rounded-full"></div>
        </div>
      </div>
    </div>

    <div class="flex items-center space-x-4">
      <img src="/Tailwindcss.jpg" class="w-10 h-10 rounded" />
      <div class="w-full">
        <div class="flex justify-between mb-1">
          <span class="font-medium text-gray-700">Tailwind</span>
          <span class="text-sm text-gray-700">60%</span>
        </div>
        <div class="w-full bg-gray-200 h-2 rounded-full">
          <div class="h-2 w-[60%] bg-purple-500 rounded-full"></div>
        </div>
      </div>
    </div>

    <div class="flex items-center space-x-4">
      <img src="/angolar.png" class="w-10 h-10 rounded" />
      <div class="w-full">
        <div class="flex justify-between mb-1">
          <span class="font-medium text-gray-700">Angular</span>
          <span class="text-sm text-gray-700">70%</span>
        </div>
        <div class="w-full bg-gray-200 h-2 rounded-full">
          <div class="h-2 w-[70%] bg-purple-500 rounded-full"></div>
        </div>
      </div>
    </div>

    <div class="flex items-center space-x-4">
      <img src="/Typescript.jpg" class="w-10 h-10 rounded" />
      <div class="w-full">
        <div class="flex justify-between mb-1">
          <span class="font-medium text-gray-700">Typescript</span>
          <span class="text-sm text-gray-700">70%</span>
        </div>
        <div class="w-full bg-gray-200 h-2 rounded-full">
          <div class="h-2 w-[70%] bg-purple-500 rounded-full"></div>
        </div>
      </div>
    </div>

    <div class="flex items-center space-x-4">
      <img src="Js.png" class="w-10 h-10 rounded" />
      <div class="w-full">
        <div class="flex justify-between mb-1">
          <span class="font-medium text-gray-700">Javascript</span>
          <span class="text-sm text-gray-700">700%</span>
        </div>
        <div class="w-full bg-gray-200 h-2 rounded-full">
          <div class="h-2 w-[70%] bg-purple-500 rounded-full"></div>
        </div>
      </div>
    </div>


    

  </div>


</div>