
<div class="py-8 font-sans mx-auto px-4">
  <h2 class="text-3xl font-bold text-center " data-aos="fade-up">About Me</h2>
  <div class="w-24 h-1 bg-purple-500 mx-auto my-2 rounded-full" data-aos="fade-up"></div>

  <div class="flex flex-col w-full md:flex-row md:items-start md:space-x-8">
    <!-- Profile Section -->
    <div class="flex flex-col items-center md:items-start">
      <div class="flex items-center justify-center" data-aos="fade-up">
        <img class="w-50 sm:w-120 h-64 bg-gray-300 rounded-lg mb-4" src="/own.png" alt="pic">
      </div>
      <button class="bg-purple-600 w-full text-white px-4 py-2 rounded hover:bg-purple-700" data-aos="fade-up">
        Download Resume
      </button>
    </div>

    <!-- Description Section -->
    <div class="mt-6 md:mt-0 space-y-4 text-center md:text-left" data-aos="fade-up">
      <p>
        Greetings! I'm VANN SAK, a student (first year) majoring in information technology at SETEC Institute. Throughout my academic journey, I have developed a strong foundation in computer science skills. These experiences have equipped me with the necessary skills to adapt in a dynamic work environment.
      </p>
      <p>
        I believe good design is not just about aesthetics but about solving problems and creating meaningful experiences. When I'm not designing, you can find me hiking, taking photos, or experimenting with new cooking recipes.
      </p>
      <div id="skill" class=""></div> 
      <!-- Info Grid -->
      <div class="grid grid-cols-2 sm:grid-cols-2 gap-4 pt-4">
        <div data-aos="fade-up">
          <p class="text-purple-600 font-semibold">Name :</p>
          <p>VANN SAK</p>
        </div>
        <div data-aos="fade-up">
          <p class="text-purple-600 font-semibold">Email :</p>
          <p>vannsak703</p>
        </div>
        <div data-aos="fade-up">
          <p class="text-purple-600 font-semibold">Experience :</p>
          <p>3 months</p>
        </div>
        <div data-aos="fade-up">
          <p class="text-purple-600 font-semibold">Location :</p>
          <p>Phnom Penh City</p>
        </div>
      </div>
    </div>
  </div>
</div>
