
<section class="bg-center bg-no-repeat bg-[url('/coder.png')] bg-gray-500 bg-blend-multiply " data-aos="fade-up">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
        <h1 class="mb-4 text-3xl font-extrabold tracking-tight leading-none text-white md:text-4xl lg:text-5xl" data-aos="fade-up">Welcome to my portfolio</h1>
        <p class="mb-8 text-md font-normal text-gray-300 lg:text-lg sm:px-16 lg:px-48" data-aos="fade-up">Hey, I am Vann Sak(Zakk) and this my portfolio I use Framework Angular, Tailwind. Please scroll down to see more. </p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a data-aos="fade-up" href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                View my work
                <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
            <a data-aos="fade-up" href="#" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 sm:ms-4 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
                Contact me
            </a> 
            <div id="about" class=""></div> 
        </div>
    </div>
</section>

<app-about></app-about>
<app-skill></app-skill>
<app-project></app-project>
<app-contact></app-contact>
